#{field 'object.' + _name}
    <label class="g-mb-10" for="${field.id}">
        &{_name}
    </label>
    <div class="g-pos-rel #{ifError field.name}u-has-error-v3#{/ifError}">
    		<div id="datepickerWrapper" class="u-datepicker-right u-datepicker--v3 g-pos-rel w-100 g-cursor-pointer g-brd-around g-brd-gray-light-v7 g-rounded-4">
    			<input id="${field.id}" class="datepicker js-range-datepicker w-100 g-bg-transparent g-font-size-12 g-font-size-default--md g-color-gray-dark-v6 g-pr-80 g-pl-15 g-py-9" type="text" name="${field.name}" value="${_value?.format()}" size="10" data-rp-wrapper="#datepickerWrapper" data-rp-date-format="Y-m-d" />
   			<div class="d-flex align-items-center g-absolute-centered--y g-right-0 g-color-gray-light-v6 g-color-lightblue-v9--sibling-opened g-mr-15">
                    <i class="hs-admin-calendar g-font-size-18 g-mr-10"></i>
                    <i class="hs-admin-angle-down"></i>
                  </div>
   		</div>
    </div>
#{/field}
