#{extends 'main.html' /}
#{set title:'Home' /}
<style type="text/css">
    #all_map {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
</style>
<section class="u-bg-overlay g-bg-img-hero g-bg-bluegray-opacity-0_3"
         style="background-image: url(@{'/public/images/central/zhongxin.jpg'});height: 400px">
    <!-- <div class="container u-bg-overlay__inner text-center g-pt-120 g-pb-70">
        <div class="g-mb-100">
            <h1
                    class="g-color-white g-font-weight-700 g-font-size-20 g-font-size-50--md text-uppercase g-line-height-1_2 g-letter-spacing-10 mb-4">
                中心概况</h1>
            <span
                    class="d-block lead g-color-white banner-text">中国科学院北京国家技术转移中心（以下简称“北京中心”）成立于2003年3月28日,是经原国家经贸委、教育部和中国科学院批准成立，由中国科学院与北京市人民政府共建的专门从事技术转移、科技成果转化的高科技服务机构，也是科技部认定的首批国家技术转移示范机构。北京中心在业务上接受中科院北京分院的直接领导，是中国科学院开展科技成果转化、技术转移工作的重要平台.</span>
        </div>
    </div> -->
</section>
<!-- 内容 -->
<section id="content" class="g-bg-secondary">
    <div class="container g-py-30" style="padding-bottom: 30px !important;">
        <div class="row align-items-stretch">
            <div class="col-lg-8 g-mb-30">
                <div id="all_map" style="height: 470px"></div>
            </div>
            <div class="col-lg-4 g-mb-30">
<!--                <figure class="u-block-hover u-shadow-v19 g-bg-white g-rounded-4 g-py-40 g-mb-30">-->
<!--                    <div class="d-flex justify-content-start">-->
<!--                        &lt;!&ndash; Figure Image &ndash;&gt;-->
<!--                        <img class="g-width-80 g-height-80 g-mr-15" src="@{'/public/images/central/transfer.jpg'}">-->
<!--                        &lt;!&ndash; Figure Image &ndash;&gt;-->

<!--                        &lt;!&ndash; Figure Info &ndash;&gt;-->
<!--                        <div class="d-block">-->
<!--                            <div class="g-mb-20">-->
<!--                                <h4 class="h5 g-mb-0">中科院北京国家技术转移中心</h4>-->
<!--                            </div>-->
<!--                            <em-->
<!--                                    class="d-block g-color-gray-dark-v5 g-font-style-normal g-font-size-14 g-mb-2">北京市海淀区建材城中路27号 N1 307</em>-->
<!--                            <em-->
<!--                                    class="d-block g-color-gray-dark-v5 g-font-style-normal g-font-size-14 g-mb-2">010-62562449</em>-->
<!--                            <em-->
<!--                                    class="d-block g-color-gray-dark-v5 g-font-style-normal g-font-size-14 g-mb-2">cycszyzx@cashq.ca.cn</em>-->
<!--                            <em-->
<!--                                    class="d-block g-color-gray-dark-v5 g-font-style-normal g-font-size-14 g-mb-2"><a href="http://www.nctt.ac.cn" style="color: #999" target="_blank">http://www.nctt.ac.cn</a></em>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; End Figure Info &ndash;&gt;-->
<!--                    </div>-->
<!--                </figure>-->
                <figure class="u-block-hover u-shadow-v19 g-bg-white g-rounded-4 g-py-40">
                    <div class="d-flex justify-content-start">
                        <!-- Figure Image -->
                        <img class="g-width-80 g-height-80 rounded-circle g-mr-15" src="@{'/public/images/central/wisdom.jpg'}"
                             alt="Image Description">
                        <!-- Figure Image -->

                        <!-- Figure Info -->
                        <div class="d-block">
                            <div class="g-mb-20">
                                <h4 class="h5 g-mb-0">中科智汇工场</h4>
                            </div>
                            <em
                                    class="d-block g-color-gray-dark-v5 g-font-style-normal g-font-size-14 g-mb-2">北京市海淀区建材城中路27号 N1 </em>
                            <em
                                    class="d-block g-color-gray-dark-v5 g-font-style-normal g-font-size-14 g-mb-2">010-83458881</em>
                            <em
                                    class="d-block g-color-gray-dark-v5 g-font-style-normal g-font-size-14 g-mb-2"> zhzk@nctt.ac.cn</em>
                            <em
                                    class="d-block g-color-gray-dark-v5 g-font-style-normal g-font-size-14 g-mb-2"><a href="https://www.genfire.cn/" style="color: #999" target="_blank">https://www.genfire.cn/</a></em>
                        </div>
                        <!-- End Figure Info -->
                    </div>
                </figure>
            </div>
        </div>
    </div>
</section>
<!-- End 内容 -->
