#{extends 'main0.html' /}
#{set title:'Home' /}


<style>
    .server_img img{
        width: 100% !important;
    }
</style>
<!-- Start 科技服务Banner -->
<section class="u-bg-overlay g-bg-img-hero g-bg-bluegray-opacity-0_3 text-center" style="background-image:url(@{'/public/images/central/services.png'});height: 400px;" >
  <div style="width:70%; max-width:1170px; height: 350px; margin-left:auto; margin-right:auto;">
    <img src="@{'/public/images/central/services_list.png'}" class="w-100 g-pt-120">
  </div>
</section>
<!-- End 科技服务Banner -->
<section class="g-py-60" id="zhjh" style="background-image:url(@{'/public/skins/default/images/bg/services-bg-1.png'});background-size: contain;">
    <div class="container">
        <div class="row">
        	<div class="col-md-6 g-pr-50--md g-mb-30 g-mb-0--md">
		        <div class="u-heading-v3-1 g-mb-30">
                  <h2 class="h5 u-heading-v3__title g-font-primary g-font-weight-700 g-color-gray-dark-v1 text-uppercase g-brd-primary">CAS概念验证计划</h2>
            </div>
	        
                <p>
                    在中国科学院科技创新发展中心和海淀区政府支持下，“CAS 概念验证计划”通过提供种子资金、商业顾问、创业教育、产业资源对接、投融资服务、 孵化空间等扶持，支持和培育一批早期项目从实验室走向市场，发展壮大，成为战略新兴产业领域的独角兽企业。
                </p>
            </div>
            <div class="col-md-6 text-center">
                <img class="w-100 g-px-50" src="@{'/public/skins/default/images/img/services/gnyz@2x.png'}" style="max-width: 380px;" alt="CAS概念验证计划" data-animation="swing" data-animation-duration="1000">
            </div>
            
        </div>
    </div>
</section>

<section class="g-py-60" id="kcdsj">
    <div class="container">
        <div class="row">
        	<div class="col-md-6"  style="margin-top: -50px;background-image:url(@{'/public/skins/default/images/img/services/ysdn-bg.png'});background-repeat: no-repeat;background-size: 150px; background-position: top;">
                <img class="w-100 g-pa-50" src="@{'/public/skins/default/images/img/services/ysdn@2x.png'}" style="max-width: 380px;"  alt="中科科创大脑"
                     data-animation="wobble" data-animation-delay="0" data-animation-duration="1000">
            </div>
	        
            <div class="col-md-6 g-pr-50--md g-mb-30 g-mb-0--md">
            	<div class="u-heading-v3-1 g-mb-30">
                  <h2 class="h5 u-heading-v3__title g-font-primary g-font-weight-700 g-color-gray-dark-v1 text-uppercase g-brd-primary">中科科创大脑</h2>
                </div>
                <p>
                    通过大数据、人工智能、区块链等新一代信息化技术手段，智能匹配各类科创要素，服务科技成果转移转化，支持科创中心建设。平台整合科研成果近1000项、专家资源超6000位、院所40余个、仪器设备数千台、企业信息1.5亿+。平台能够实现园区及区域企业发展趋势管理和运营，负面舆情监测，技术人才与当地产业的智能撮合，符合区域产业要求的招商/营商工作。
                </p>
            </div>

        </div>
    </div>
</section>
<section class="g-py-60" id="zhjh" style="background-image:url(@{'/public/skins/default/images/bg/services-bg-2.png'});background-size: contain;">
    <div class="container">
        <div class="row">
        	<div class="col-md-6 g-pr-50--md g-mb-30 g-mb-0--md">
		        <div class="u-heading-v3-1 g-mb-30">
                  <h2 class="h5 u-heading-v3__title g-font-primary g-font-weight-700 g-color-gray-dark-v1 text-uppercase g-brd-bottom-4 g-brd-primary">中科院科技成果展厅</h2>
                </div>
	        
                <p>
                    展厅坐落于中科智汇工场一层，占地面积1300㎡，是中科院在京常设展厅、前沿技术展示中心、科普实践基地，围绕“四个面向、四个率先”的主展逻辑，划分“走向深蓝”、“飞向深空”、“探索深海”等11个展区，常设展项100余项，涉及院所逾40家。
                </p>
            </div>
            <div class="col-md-6 text-center">
                <img class="w-100 g-px-50 g-rounded-15" src="@{'/public/skins/default/images/img/services/kjzt@2x.png'}" style="max-width: 380px;" alt="中科院科技成果展厅" data-animation="swing" data-animation-duration="1000">
            </div>
            
        </div>
    </div>
</section>
<section class="container g-bg-white g-pt-100 g-pb-70" style="background-image:url(@{'/public/skins/default/images/bg/services-bg-3.png'});background-size: contain;">

	  <!-- Icon Blocks -->
      <div class="row">
        <div class="col-lg-4 g-mb-30">
          <!-- Icon Blocks -->
          <div class="text-center g-mb-15 g-brd-around u-shadow-v21--hover  g-brd-gray-light-v4 g-brd-top2--hover g-brd-primary--hover g-pa-10 g-height-200">
              <span class="g-color-primary g-font-size-35 g-mb-5">
                <i class="icon-education-127 u-line-icon-pro"></i>
              </span>
              <h3 class="h5 g-color-black mb-20">CAS空间</h3>
              <p class="text-left">位于北京市海淀区西三旗建材城中路27号N1，包含2万平米高端办公区， 1300平科技成果展厅，以及员工餐厅、健身步道等休闲生活配套设施，为创新创业团队构建花园式办公环境。</p>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-lg-4 g-mb-30">
          <!-- Icon Blocks -->
          <div class="text-center g-mb-15 g-brd-around u-shadow-v21--hover g-brd-gray-light-v4 g-brd-top2--hover g-brd-primary--hover g-pa-10 g-height-200">
              <span class="g-color-primary g-font-size-35 g-mb-5">
                <i class="icon-science-020 u-line-icon-pro"></i>
              </span>
              <h3 class="h5 g-color-black mb-20">技术经理合伙人计划</h3>
              <p class="text-left">培养一批技术经理人、招募一批技术经理合伙人，整合社会资源，加速科技成果转移转化工作的开展。</p>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-lg-4 g-mb-30">
          <!-- Icon Blocks -->
          <div class="text-center g-mb-15 g-brd-around u-shadow-v21--hover  g-brd-gray-light-v4 g-brd-top2--hover g-brd-primary--hover g-pa-10 g-height-200">
              <span class="g-color-primary g-font-size-35 g-mb-5">
                <i class="icon-education-178 u-line-icon-pro"></i>
              </span>
              <h3 class="h5 g-color-black mb-20">产业技术研究院</h3>
              <p class="text-left">与行业龙头企业共建产业研究院，将产业资源和中科院科技成果、人才有机结合，优势互补，助力行业龙头企业突破技术瓶颈，搭建项目成果到产业应用的绿色通道。</p>
          </div>
          <!-- End Icon Blocks -->
        </div>
      </div>
      <!-- End Icon Blocks -->
      
      <!-- Icon Blocks -->
      <div class="row">
        <div class="col-lg-4 g-mb-30">
          <!-- Icon Blocks -->
          <div class="text-center g-mb-15 g-brd-around u-shadow-v21--hover  g-brd-gray-light-v4 g-brd-top2--hover g-brd-primary--hover g-pa-10 g-height-250">
              <span class="g-color-primary g-font-size-35 g-mb-5">
                <i class="icon-finance-209 u-line-icon-pro"></i>
              </span>
              <h3 class="h5 g-color-black mb-20">中科院研发实验服务基地</h3>
              <p class="text-left">整合中科院京区24家研究所2720台套价值44.7亿元的科研仪器设备，包含工程塑料研发与测试功能平台、有机功能材料研发与测试功能平台、高性能复合材料研发与测试功能平台、纳米材料研发与测试功能平台、生物医用材料研发与测试功能平台。</p>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-lg-4 g-mb-30">
          <!-- Icon Blocks -->
          <div class="text-center g-mb-15 g-brd-around u-shadow-v21--hover  g-brd-gray-light-v4 g-brd-top2--hover g-brd-primary--hover g-pa-10 g-height-250">
              <span class="g-color-primary g-font-size-35 g-mb-5">
                <i class="icon-finance-009 u-line-icon-pro"></i>
              </span>
              <h3 class="h5 g-color-black mb-20">科技金融</h3>
              <p class="text-left">形成“概念验证基金”、“科技发展基金”、“产业引导基金及母基金”三级投资体系，凭借基金投资实现企业各阶段快速发展。 其中“概念验证基金”全年将评审出8个优质项目，向每个项目提供不低于30万元的资金支持，用于加速项目产业化。</p>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-lg-4 g-mb-30">
          <!-- Icon Blocks -->
          <div class="text-center g-mb-15 g-brd-around u-shadow-v21--hover  g-brd-gray-light-v4 g-brd-top2--hover g-brd-primary--hover g-pa-10 g-height-250">
              <span class="g-color-primary g-font-size-35 g-mb-5">
                <i class="icon-finance-047 u-line-icon-pro"></i>
              </span>
              <h3 class="h5 g-color-black mb-20">中科学院</h3>
              <p class="text-left">对内聚焦技术经理人培训，对外搭建市场化培训平台，开展企业管理、知识产权、科技创新创业指导等培训，致力于成为中国科学院科技成果转移转化人才输出基地。</p>
          </div>
          <!-- End Icon Blocks -->
        </div>
      </div>
      <!-- End Icon Blocks -->

      <!-- Icon Blocks -->
      <div class="row">
        <div class="col-lg-4 g-mb-10">
          <!-- Icon Blocks -->
          <div class="text-center g-mb-15 g-brd-around u-shadow-v21--hover  g-brd-gray-light-v4 g-brd-top2--hover g-brd-primary--hover g-pa-10 g-height-280">
              <span class="g-color-primary g-font-size-35 g-mb-5">
                <i class="icon-education-056 u-line-icon-pro"></i>
              </span>
              <h3 class="h5 g-color-black mb-20">垂直产业加速器</h3>
              <p class="text-left">与院所、企业等主体开展创新合作，深耕垂直领域，借助科研院所先进的专家资源、科技成果、仪器设备、人才储备等，充分利用中科智汇工场的空间优势、运营模式、服务体系，打造垂直领域的概念验证中心和产业加速成长平台。 目前，已建有智能硬件垂直产业加速器和数字艺术垂直产业加速器，带动相关产业生态快速发展。</p>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-lg-4 g-mb-10">
          <!-- Icon Blocks -->
          <div class="text-center g-mb-15 g-brd-around u-shadow-v21--hover  g-brd-gray-light-v4 g-brd-top2--hover g-brd-primary--hover g-pa-10 g-height-280">
              <span class="g-color-primary g-font-size-35 g-mb-5">
                <i class="icon-finance-033 u-line-icon-pro"></i>
              </span>
              <h3 class="h5 g-color-black mb-20">中关村专项</h3>
              <p class="text-left">由中科院科技创新发展中心和中关村管委会发起，通过开展技术转移项目评选、科技成果转移转化，挖掘培育若干前沿技术，推动一批重大科创项目落地并形成规模产业。自项目发起以来，评选“科技成果转化项目奖”109个，经过多年发展获奖企业注册资本达35亿元，对中关村科学城和全国科技创新中心建设提供了有力支撑。</p>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-lg-4 g-mb-10">
          <!-- Icon Blocks -->
          <div class="text-center g-mb-15 g-brd-around u-shadow-v21--hover  g-brd-gray-light-v4 g-brd-top2--hover g-brd-primary--hover g-pa-10 g-height-280">
              <span class="g-color-primary g-font-size-35 g-mb-5">
                <i class="icon-education-174 u-line-icon-pro"></i>
              </span>
              <h3 class="h5 g-color-black mb-20">产业落地转化平台</h3>
              <p class="text-left">按照“北京研发、地方制造”的“飞地”孵化模式，旨在全力打造“创业苗圃—科技孵化器—加速器—产业集群”等链条式专业化服务平台，大力培育科技型中小企业和高新技术企业，推动生产基地落户地方。建成项目孵化加速平台，具有科技成果转化孵化、招商引资、研发服务、示范和展示五大功能。</p>
            </div>
          <!-- End Icon Blocks -->
        </div>
      </div>
      <!-- End Icon Blocks -->

      
     
    </section>


#{set 'moreScripts'}

#{/set}
